:root{
    --primary-color:#383838;
    --secondary-color: #e2e2e2c2;
    --text-color: rgb(255, 230, 194);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

/*navstyle*/
nav{
    background-color:  var(--primary-color);
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    text-align: center;
    width: 100%;
    left: 0%;
    top: 0%;
}
nav ul{
    white-space: nowrap;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 15px;
}
nav li:hover{
    text-decoration: underline;
}
nav li a{
    text-decoration: none;
    color: white;
}
/*Introductory Part Style*/
.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: -10;
    height: 100vh;
}

.picture::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    top: 0;
    left: 0;
    z-index: 100;
}

.picture img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.picture .welcome{
    position:absolute;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #3b3737;
    padding: 0px 30px;
    z-index: 200;
}
.picture h2{
    font-size: 120px;
    font-family: geneva;
    font-style: italic;
    color: var(--text-color);
    line-height: 80px;
}
.picture h2 span{
    font-size: 40px;
    color: white;
    padding:  2px;
    font-family: monospace;
}
.join{
    text-align: center;
    padding: 60px 20px;
    color: #161212;
}
.join h2 {
    font-size: 36px;
    color: #161212;

}

.join p{
    color: #161212;

}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 28px;
    border: 4px solid rgb(15, 14, 14);
}
.person{
    font-size: 2.2rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
}
footer{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 10px;
}
/*Flex Boxes*/
.flex{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--secondary-color);
}
.square, .neomrphism{
    height: 20rem;
    width: 20rem;
    background-color: var(--secondary-color);
    margin: 3rem;
    min-height: fit-content;
    padding: .5rem;
    border-radius: 1.2rem;
    box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000080;

}
.square h2, .neomrphism h2{
    line-height: 35px;
    padding: 1rem;
    color:rgb(15, 14, 14);
}

#head{
    color: rgb(15, 14, 14);
    text-align: center;
    text-decoration: underline;
    padding-top: -50px;
}
#person{
    margin-top: -0.5px;
    color: var(--text-color);
}

.about{
    margin-bottom:  1.5rem ;
    text-align: start;
    padding:  3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f4f4;

}

.about-img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: solid 2px rgb(80, 80, 80);}

.about-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about-text p{
    width: 50ch;
    font-size: 1.5rem;
    color: black;
    font-style: italic;


}
/*Media Query*/
@media screen and (max-width:600px){
    .square{
        width: 100%;
    }
    .neomrphism{
        width: 100%;
    }
    .about-text p{
        width: auto;
        margin-top: 50px;
    }
}